* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     outline: 1px solid red; */
}

/* ----------------GENERAL---------------- */

body {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}


section {
    color: #333;
}


p {
    line-height: 1.5em;
    margin: 20px 20px;
}

/* ---------------SIDE BAR---------------- */

.side-bar {
    position: fixed;
    width: 350px;
    height: 100%;
    border-right: 3px solid rgb(170, 180, 186);
}

#title {
    font-size: 1em;
    font-weight: lighter;
    padding: 15px 0 10px 30px;
}

.nav-content{
    display: block;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link {
    position: relative;
    display: block;
    padding: 10px 0 10px 30px;
    text-decoration: none;
    font-weight: lighter;
    color: #333;
    border-top: 2px solid rgb(170, 180, 186);

}

/* ---------------CONTENT---------------- */

.content {
    position: absolute;
    left: 400px;
}

.title-content {

    font-size: 1em;
    font-weight: lighter;
    margin: 30px 0;
    color: black;
}

/* ---------------LISTS---------------- */

.list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.list-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-text2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
}

.code {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
}

/* ---------------MEDIA---------------- */

@media (max-width: 900px) {

    .side-bar {
        position: relative;
        width: 100%;
    }
#title {
    text-align: center;
}

    .nav-content{
        display: block;
        max-height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
        border-top: 1px solid rgb(170, 180, 186);
        border-bottom: 3px solid rgb(170, 180, 186);
    }

    .content{
        position: inherit;
        padding: 30px;
    }

}